@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Righteous&display=swap');

.bungee-regular {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  
/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkslategrey;
    font-family: "Bungee", sans-serif;
    color: rgb(235, 248, 54);
}

h2 {
    text-align: center;
    color: rgb(0, 234, 255);
    
}

p {
    text-align: center;
}

header {
    background-color: rgba(0, 0, 0, 0.345);
    backdrop-filter: blur(10px);
    padding-top: 12px;
    border-radius: 6px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#Principal  {
    display: flex;
    height: 400px;
    width: 100%;
    border-radius: 6px;
    justify-content: space-between;
}

main {
    background-color: rgba(127, 255, 212, 0.726);
    border-radius: 6px;
    width: 50%;
    height: 100%;
    justify-content: space-between;
}

aside {
    background-color: rgba(0, 206, 209, 0.726);
    border-radius: 6px;
    width: 50%;
    height: 100%;
    justify-content: space-between;
}

footer {
    background-color: rgba(7, 159, 254, 0.726);
    border-radius: 6px;
    margin: 10px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

footer p {
    font-size: 1.2rem;
    color: rgb(248, 248, 247);
}

footer a {
    color: #fefefe;
    text-decoration: none;
    font-weight: 500;
    border-bottom: 1px solid #d7d4d4;
}

#profile-image {
    height: 90px;
    width: 90px;
    border-radius: 50%;
}